.StripeElement {
    display: block;
    margin: 10px 0 20px 0;
    max-width: 500px;
    padding: 15px 14px;
    box-shadow: rgba(50, 50, 93, 0.4) 0px 2px 3px, rgba(0, 0, 0, 0.1) 0px 2px 0px;
    border-radius: 4px;
    background: white;
  }
  