.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.design-figure__image-container__image{
  webkitFilter: grayscale(100%);
  filter: grayscale(100%);
}

.design-figure__image-container__image:hover{
  webkitFilter: none;
  filter: none;
}

.cta-pair__button{
  font-family: Larsseit-Bold,sans-serif;
  font-weight: bold;
  color: #A6D8F2;
  filter: brightness(110%)
}

.heading--h0, .heading--h1{
  color: #A6D8F2;
  font-family: Larsseit-Bold,sans-serif;
  font-weight: bold;
}

.site-footer__navigation__group {
  position: relative;
  padding-left: 10%;
  padding-right: 15px;
  width: 25%;
  float: left;
}
* {
  font-family:  Scheherazade;
}
html[lang=ar] {
 direction: rtl;
}

html[lang=en] {
 direction: ltr;
}

